body {
  background-image: url("../img/helsinki.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

body main {
  margin-top: 100px;
}

.titulo-paginas {
  text-align: center;
  font-size: 40px;
  color: #000;
  font-weight: bold;
}

#alineacion {
  margin: 0% 10% 5% 10%;
}

.pie {
  margin-top: 5%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #000;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

header nav img {
  width: 90px;
  height: 70px;
}

header nav div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-box {
  padding: 15px 5px;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.hero {
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: normal;
  font-weight: bold;
}

.hero div {
  margin: 0px 25px 0px 25px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.2;
}

.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.hero .highlight {
  text-align: center;
  font-size: 90px;
  color: #ff0;
  font-weight: normal;
  padding: 10px;
}

.tarjeta .pie {
  background: black;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.tarjeta .pie a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
}

.button-footer {
  background-color: grey;
  color: white;
  padding: 3px 14px;
  height: 33px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
}

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 1000;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
header nav img {
  width: 90px;
  height: 70px;
}
header nav div ul {
  display: flex;
}

.item-box {
  padding: 15px 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  font-family: "Oswald", sans-serif;
}

/* animacion del logo */
.navbar img {
  height: 50px;
  position: relative;
  animation: logo-slide-horizontal 1.5s ease-in-out;
}

@keyframes logo-slide-horizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
.hero {
  text-align: center;
  font-weight: bold;
}
.hero div {
  margin: 0px 25px 0px 25px;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.2;
}
.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
.hero .highlight {
  align-items: center;
  text-align: center;
  font-size: 90px;
  color: yellow;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-item {
  text-align: center;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-item h3 {
  margin-top: 15px;
  font-size: 1.3rem;
}
.grid .img-grid {
  height: 292px;
  width: 381px;
  border-radius: 5%;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  align-items: center;
}
.tarjeta .card-image {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  margin-bottom: -57px;
}
.tarjeta .cuerpo {
  padding: 10px;
  flex: 1 1 100%;
  align-self: center;
}
.tarjeta .cuerpo img {
  border-radius: 5%;
  margin-bottom: 27px;
}
.tarjeta .pie {
  background: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.tarjeta .pie a {
  text-decoration: none;
  color: white;
}

.carousel-item > img {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 500px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-item {
  text-align: center;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-item h3 {
  margin-top: 15px;
  font-size: 1.3rem;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

.highlight {
  font-weight: bold;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  display: inline-block;
  transition: transform 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
}

.highlight:hover {
  transform: scale(2);
  font-size: 4.5em;
}

p {
  text-align: center;
  font-size: 30px;
  color: black;
}
p.contenido-paginas {
  margin-top: 25px;
}

.img-grid {
  height: 292px;
  width: 381px;
  border-radius: 5%;
}

.titulo {
  color: rgb(10, 10, 10);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 15px;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 15px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  align-items: center;
}
.tarjeta .card-image {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  margin-bottom: -57px;
}
.tarjeta .cuerpo {
  padding: 10px;
  flex: 1 1 100%;
  align-self: center;
}
.tarjeta .cuerpo img {
  border-radius: 5%;
  margin-bottom: 27px;
}
.tarjeta .pie {
  background: black;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.tarjeta .pie a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
}

.carousel-item > img {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 500px;
}

.promociones {
  width: 12rem;
  height: 12rem;
  background-color: yellow;
  border-radius: 50%;
  margin-left: 20%;
  margin-top: 20%;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  color: #000;
  font-weight: bold;
  transform: rotate(-45deg);
  animation: loop-animation 1.5s infinite ease-in-out;
}

@keyframes loop-animation {
  0% {
    transform: rotate(-45deg) scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: rotate(0deg) scale(1.25);
    box-shadow: 0 8px 20px rgba(255, 165, 0, 0.8);
  }
  100% {
    transform: rotate(-45deg) scale(1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
}
.lorem-paginas {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: black;
  padding: 25px;
  margin-top: 25px;
}

.grid-servicios {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 60px;
  row-gap: 20px;
  padding: 50px;
}
.grid-servicios img {
  height: 292px;
  width: 381px;
  border-radius: 5% 5% 0 0;
}
.grid-servicios h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: black;
  padding: 25px;
  border-radius: 10px;
}
.grid-servicios .titulo-tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.card {
  border: none;
  border-radius: 15px;
}
.card-nosotros {
  padding: 20px;
}
.card .card-body {
  padding: 20px;
}
.card .card-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
}

.form-control,
.form-select {
  border-radius: 8px;
  padding: 10px;
}

.btn {
  padding: 12px;
  border-radius: 8px;
}

.contact-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
}

.lorem-paginas {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: black;
  padding: 25px;
  margin-top: 25px;
}

section div div div div article .card-text {
  font-size: 3rem;
  font-weight: bold;
}

.footer-down {
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin-top: 100px;
  padding-left: 10px;
  background-color: black;
}
.footer-down .social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}

.button-footer {
  background-color: grey;
  color: white;
  padding: 3px 14px;
  height: 33px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
}

.footer-down {
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* (360px) */
@media screen and (max-width: 360px) {
  body {
    font-size: 14px;
  }
  .titulo-paginas {
    font-size: 28px;
  }
  .promociones {
    width: 10rem;
    height: 10rem;
    font-size: 1.2rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
  }
  .grid-item {
    padding: 10px;
    font-size: 0.9rem;
  }
  header nav img {
    width: 60px;
    height: 50px;
  }
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 30px;
    padding: 15px 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .card {
    border: none;
    border-radius: 15px;
  }
  .card-nosotros {
    padding: 0px;
  }
  .card .card-body {
    padding: 0px;
  }
  .card-text {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #555;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  .footer-down {
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 10px;
    background-color: black;
  }
  .footer-down .social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
    margin-top: 25px;
  }
  .footer-down iframe {
    margin-top: 15px;
    width: 360px;
  }
  .contact-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .button-footer {
    background-color: grey;
    color: white;
    padding: 3px 14px;
    height: 33px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin: auto;
  }
  .footer-down {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .promociones {
    display: none;
  }
  .carousel-inner img {
    height: 180px;
    object-fit: cover;
  }
  .grid-servicios {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
    margin: 25px auto;
    gap: 20px;
    padding: 0%;
  }
  .titulo-tarjetas {
    width: 100%;
    padding: 5px;
  }
  .titulo-tarjetas img {
    max-width: 100%;
  }
  .btn {
    padding: 8px 12px;
  }
  .titulo-paginas {
    padding: 5px;
  }
  .card-body {
    padding: 8px;
  }
}
/*  700px  */
@media screen and (max-width: 700px) {
  body {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  header nav img {
    width: 70px;
    height: 50px;
  }
  .titulo-paginas {
    font-size: 24px;
    padding: 10px;
  }
  .promociones {
    width: 9rem;
    height: 9rem;
    font-size: 1rem;
  }
  .grid-servicios {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
    margin: 25px auto;
    gap: 20px;
    padding: 0%;
  }
  .hero h1 {
    font-size: 1.8rem;
  }
  .contact-items {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
/* (1440px) */
@media screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }
  .titulo-paginas {
    font-size: 48px;
  }
  .promociones {
    width: 14rem;
    height: 14rem;
    font-size: 1.8rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;
  }
  .grid-item {
    padding: 20px;
    font-size: 1.2rem;
  }
  header nav img {
    width: 120px;
    height: 90px;
  }
}/*# sourceMappingURL=estilos.css.map */