//informacion general reset tipografia clases sueltas selectores etc
//aca iria la clase .botones, por ejemplo
//aca van las clases de  bootstrap
* {
  list-style: none;
  margin: 1px;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $font-family;
}





