// media queries

// Responsive Design
@media (max-width: 480px) {
    .hero {
      div {
        h1 {
          font-size: 24px;
        }
      }
  
      p {
        font-size: 18px;
        padding: 15px;
      }
    }
}

// Responsive styles for small screens
@media (max-width: 360px) {
    .body {
        max-width: 360px;
        align-items: center;
        overflow-x: hidden;

        .hero {
            div {
                h1 {
                    flex-wrap: wrap;
                    font-size: 24px;
                }
            }

            .highlight {
                font-size: 40px;
                padding: 5px;
            }

            p {
                font-size: 18px;
                padding: 15px;
            }

            .grid {
                grid-template-columns: 1fr;
                padding: 20px;
                gap: 20px;

                &-item h3 {
                    font-size: 16px;
                    margin-top: 10
                }
            }
        }
    }
}
// Responsive styles for small screens
@media (max-width: 360px) {
    .body {
        max-width: 360px;
        align-items: center;
        overflow-x: hidden;

        .hero {
            div {
                h1 {
                    flex-wrap: wrap;
                    font-size: 24px;
                }
            }

            .highlight {
                font-size: 40px;
                padding: 5px;
            }

            p {
                font-size: 18px;
                padding: 15px;
            }

            .grid {
                grid-template-columns: 1fr;
                padding: 20px;
                gap: 20px;

                &-item h3 {
                    font-size: 16px;
                    margin-top: 10
                }
            }
        }
    }
}