 // Header styles

 header {
     display: flex;
     justify-content: space-between;
     padding: 5px;
     background-color: black;
     position: sticky;
     top: 0px;
     z-index: 1000;
     align-items: center;
     font-family: "Oswald", sans-serif;

     .cart-button {
         color: white;
     }

     .dropdown-menu {
         width: fit-content;
         color: black;
         padding: 10px;
         max-height: 350px;
         overflow-y: scroll;
     }
     .dropdown-menu li {
         margin-bottom: 10px;
     }

     .dropdown-menu li:last-child {
         margin-bottom: 0;
     }

     .dropdown-menu img {
         border-radius: 50%;
         margin-right: 10px;
     }

     .dropdown-menu p {
         display: inline-block;
         vertical-align: middle;
     }

     nav {
         img {
             width: 90px;
             height: 70px;
         }

         div {
             ul {
                 display: flex;
             }
         }
     }
 }


 //Item box styles

 .item-box {
     padding: 15px 5px;
     text-align: center;
     color: white;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-right: 5px;
     font-family: "Oswald", sans-serif;
 }